<script async defer data-domain="youdecidetimes.github.io/covid-dystopia" src="https://plausible.io/js/plausible.js"></script>
<meta name="title" content="Home - Covid-19 Dystopia">
<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://youdecidetimes.github.io/covid-dystopia/">
<meta property="og:title" content="Home - Covid-19 Dystopia">
<meta property="og:description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.">
<meta property="og:image" content="">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://youdecidetimes.github.io/covid-dystopia/">
<meta property="twitter:title" content="Home - Covid-19 Dystopia">
<meta property="twitter:description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.">
<meta property="twitter:image" content="">