<script async defer data-domain="youdecidetimes.github.io/covid-dystopia" src="https://plausible.io/js/plausible.js"></script>
<link rel="shortcut icon" type="image/png" href="/covid-dystopia/assets/images/favicon.png">

<!-- Primary Meta Tags -->
<title>COVID-19 Dystopia</title>
<meta name="title" content="COVID-19 Dystopia">
<meta name="description" content="Tracking government overreach and lose of freedom due to COVID-19">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://youdecidetimes.github.io/covid-dystopia/">
<meta property="og:title" content="Home - COVID-19 Dystopia">
<meta property="og:description" content="Tracking government overreach and lose of freedom due to COVID-19">
<meta property="og:image" content="https://youdecidetimes.github.io/covid-dystopia/assets/images/meta-photo.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://youdecidetimes.github.io/covid-dystopia/">
<meta property="twitter:title" content="Home - COVID-19 Dystopia">
<meta property="twitter:description" content="Tracking government overreach and lose of freedom due to COVID-19">
<meta property="twitter:image" content="https://youdecidetimes.github.io/covid-dystopia/assets/images/meta-photo.jpg">